<configuration>
	<dllmap dll="Netlenium.dll" target="netlenium.so" />
	<dllmap dll="Netlenium.Driver.dll" target="netlenium_driver.so" />
	<dllmap dll="Netlenium.Driver.Chrome.dll" target="netlenium_driver_chrome.so" />
	<dllmap dll="Netlenium.Driver.GeckoFXLib.dll" target="netlenium_driver_geckofxlib.so" />
	<dllmap dll="Netlenium.Manager.dll" target="netlenium_manager.so" />
</configuration>
